.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabs button:hover {
    background-color: #ddd;
  }
.tabs button.active {
    background-color: #ccc;
}
.side-info {
    position: absolute;
    right: .25%;
    top: 150px;
}
.search-input {
    position:absolute;
    top: 100px;
}
.search-button {
    margin-top: 10px;
}
.search-header {
    font-size: 16px;
    color: gray;
    margin-bottom: 1px;
}
.search-box {
    border: 1px;
    border-style: solid;
    border-color:black;
    padding: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.summary-box {
    margin-top: 5px;
    border: 1px;
    border-style: solid;
    border-color:black;
    padding: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.summary-header {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}
.summary-subheaders {
    font-size: 16px;
    font-weight: bold;
    float: left;
}
.summary-info {
    font-size: 16px;
    float: left;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    overflow: scroll;
}

.schedule {
    flex: 3;
}

.tabs button {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.schedule table {
    width: 50%;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.pediatric {
    background-color: red;
    color: white;
}

.oncology {
    background-color: blue;
    color: white;
}

.side-info {
    width: 20%;
    padding: 2%;
    border-left: 1px solid black;
}

.left-side-container {
    width: 70%;
    padding-left: 3%;
    padding-right: 3%;
}

.shift-row {
    height: 150px;
}